p {
    font-style: Helvetica;
    font-size: 14px;
    margin: 0px;
    padding: 0px;
    color: black;
}



.col-sm-12 {
   width: 100%;
}

.col-md-6 {
   width: 50%;
}

.col-lg-4 {
   width: 30%;
}

#section {
   box-sizing: border-box;
   border: 1px solid black;
   margin: 0px;
   padding: 0px;
}

a {
 text-align: right;
 width: auto;
 margin: 0px;
}

label {
   text-align: top right;
   width: auto;
   font-size: 125%;
   font-style: Helvetica;
   border: 1px solid black;
}

#section1 {
   background-color: #e5f2e5;
   border: 1px solid black;
}

#section2 {
   background-color: aliceblue;
   border: 1px solid black;
}

#section3 {
   background-color: beige;
   border: 1px solid black;
}

a {
   align: top right;
   
}

a:hover {
   color: antiquewhite;
} 

/* Desktop size */

@media (min-width: 992px) {

.col-lg-4 {
 width: 100%;
}

   #section1 {
       background-color: #e5f2e5;
       width: 25%;
       float: left;
       margin: 20px;
       padding: 15px;
   }
   #section2 {
       background-color: aliceblue;
       width: 25%;
       float: left;
       margin: 20px;
       padding: 15px;
   }
   #section3 {
       background-color: beige;
       width: 25%;
       float: left;
       margin: 20px;
       padding: 15px;
       margin-right: 0px;
   }


   

}

/* Tablet size */
@media (min-width: 768px) and (max-width: 991px) {
 
 
 .col-md-6 {
   width: 50%;
}

   #section1, p, text {
       background-color: #e5f2e5;
       width: 45%;
       float: left;
       padding: 5px;
       box-sizing: border-box;
       margin: 15px;
   }
   
   #section2, p {
       background-color: aliceblue;
       width: 45%;
       float: right;
       padding: 5px;
       margin: 15px;
   }
   #section3, p, text {
       background-color: beige;
       width: 95%;
       float: left;   
       box-sizing: border-box;
       padding: 2px;
       margin: 15px;
   }

   #section1 p {
       background-color: #e5f2e5;
   }

   #section2 p {
       background-color: aliceblue;
   }

   #section3 {
       box-sizing: border-box;
       border: 1px solid black;
   }


}

/* Mobile size */
@media (max-width: 767px) {


   #section1 {
       color: #e5f2e5;
       column-width: 100%;
       margin: 20px;
       padding: 20px;
   }
   
   #section2 {
       background-color: aliceblue;
       column-width: 100%;
       margin: 20px;
       padding: 20px;
   }

   #section3 {
       background-color: beige;
       column-width: 100%;
       margin: 20px;
       padding: 20px;
   }


}




